# Ignore the following files
datasets/berkeley-earth-surface-temp-datasets/GlobalLandTemperaturesByCity.csv

# Ignore the following directories
datasets/world-cities-coordinates
src/__pycache__
__pycache__
